body {
    color: rgb(248, 245, 245);
    background: rgba(0, 9, 7, 0.997);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32;
    color: rgb(255, 0, 0);
}

.chamada{
    background: rgb(255, 0, 0);
    padding-bottom: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5px;
}

h1{
    font-size: 35px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
}